<mat-card>
  <mat-card-header>
      <mat-card-title *ngIf="!authService.isAuthenticated">
          <h4>Login</h4>
      </mat-card-title>
      <mat-card-title *ngIf="authService.isAuthenticated">
        <h4>You are now logged in! Click here: </h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form *ngIf="!authService.isAuthenticated"> 
        <mat-form-field>
          <input [(ngModel)]="loginData.email" name="email" matInput placeholder="email" type="email">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="loginData.pwd" name="password" matInput placeholder="password" type="password">
        </mat-form-field>
      <button routerLink="/home" (click)="post()" mat-raised-button color="primary">Login</button>
      </form>
      
      <button mat-button *ngIf="authService.isAuthenticated" routerLink="/home">Verify Your News Now</button>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
